{% extends 'home.html' %} {% block content %}
<section id="boggle">
	<table name="boggleboard" class="board">
		{% for row in board %}
		<tr>
			{% for column in row %}
			<td>{{column}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<h2>Take a guess!</h2>
	<form method="POST" class="check-word">
		<label for="word">Enter guess:</label>
		<input
			type="text"
			name="word"
			class="word"
			placeholder="Enter your word here"
			autofocus
		/>
		<button>Submit</button>
	</form>
	<h2>Score: <b class="score">0</b></h2>
	<p class="msg">
		<!-- For popup messages -->
	</p>
</section>
<form action="/restart" class="restart">
	<button>Restart?</button>
</form>
{% endblock %} {% block runjavascript %}
<script src="/static/app.js"></script>
<!-- <script>
	let game = new BoggleGame("boggle", 60);
</script> -->
{% endblock %}
